* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

/* html{
	scroll-behavior: smooth;
} */
body {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url('./img/harry-cunningham-JnMwwc8PX2Q-unsplash.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	max-height: 100vh;
	color: #ddd;
}

#main {
	padding: 0 20px;
}

#nav {
	display: flex;
	justify-content: space-between;
	border-bottom: 0.1px groove #ddd;
	max-height: 8vh;
	width: 100%;
}

#home {
	display: flex;
	align-items: center;
	transition: all 0.35ms ease-out;
}

#home ul {
	list-style: none;
}

#home ul li {
	margin: 10px;
}

#home ul li a {
	text-decoration: none;
	color: #ddd;
	padding: 10px 20px;
}

#home ul li a:hover {
	background-color: #ccc;
	color: #4b38c2;
	border-radius: 5px;
}

#title {
	text-align: center;
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 40px;
	color: #fff;
}

#img-div {
	width: 100%;
	height: auto;
	margin-bottom: 80px;
}

#figure {
	width: 180px;
	height: 180px;
	object-fit: cover;
	margin: auto auto;
}

#img-caption {
	text-align: center;
	color: #fff;
	font-weight: 500;
}

#image {
	display: block;
	max-width: 100%;
	height: 100%;
	margin: auto;
	border-radius: 50%;
	border: 0.5 solid #ccc;
}

#image:hover {
	transform: scale(1.1);
	transition: transform 0.35s ease;
}

#tribute-info {
	text-align: left;
	line-height: 1.9;
	width: 100%;
	max-width: 140ch;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

#tribute-link {
	text-decoration: none;
	background-color: #ccc;
	border: 0.5 solid #ccc;
	padding: 10px 20px;
	font-size: 15px;
	border-radius: 5px;
	color: #4b38c2;
	transition: color 20ms ease;
}

#tribute-link:hover {
	color: #ccc;
	background-color: #4b38c2;
}

#footer {
	max-height: 20vh;
	margin-top: 20px;
	border-top: 0.5px solid #ccc;
	display: flex;
	flex-direction: column;
}

#footer p {
	text-align: center;
	padding: 20px 0 20px 0;
}

#footer #scroll-top {
	align-self: flex-end;
	margin: 5px 10px 0 0;
	text-decoration: none;
	background-color: #4b38c2;
	border: 0.5 solid #ccc;
	padding: 10px 20px;
	font-size: 15px;
	border-radius: 5px;
	color: #ccc;
}

#footer #scroll-top:hover {
	background-color: #ccc;
	color: #4b38c2;
	transition: color 0.6s;
}
